// Начните писать стили здесь
@import "./color-variables";
@import "./fonts";
@import "./blocks/index/page";
@import "./blocks/index/body-container";
@import "./blocks/index/main-header";
@import "./blocks/index/main-header-logo";
@import "./blocks/index/header-top";
@import "./blocks/index/intro";
@import "./blocks/index/intro-inner";
@import "./blocks/index/main-nav";
@import "./blocks/index/advantages.less";
@import "./blocks/index/advantages-list.less";
@import "./blocks/index/advantage-item.less";
@import "./blocks/index/advise-list.less";
@import "./blocks/index/search-hotel";
@import "./blocks/index/location";
@import "./blocks/index/main-footer";
@import "./blocks/index/socials-list";
@import "./blocks/index/socials-item";
@import "./blocks/index/copyright.less";

/* скрыла пока что так заголовки, которые не будут выводиться */

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}


