// Начните писать стили здесь

// Главная

@import "./color-variables";
@import "./fonts";
@import "./blocks/index/page";
@import "./blocks/index/body-container";
@import "./blocks/index/main-header";
@import "./blocks/index/main-header-logo";
@import "./blocks/index/header-top";
@import "./blocks/index/intro";
@import "./blocks/index/intro-inner";
@import "./blocks/index/main-nav";
@import "./blocks/index/advantages";
@import "./blocks/index/advantages-list";
@import "./blocks/index/advantage-item";
@import "./blocks/index/advise-list";
@import "./blocks/index/search-hotel";
@import "./blocks/index/location";
@import "./blocks/index/main-footer";
@import "./blocks/index/socials-list";
@import "./blocks/index/socials-item";
@import "./blocks/index/copyright";


// Каталог

@import "./blocks/catalog/main-content";
@import "./blocks/catalog/photos-list";
@import "./blocks/catalog/photo-item";
@import "./blocks/catalog/videopresentation";
@import "./blocks/catalog/rating";


// Форма отзыва

@import "./blocks/review/entry";
@import "./blocks/review/review-form";
@import "./blocks/review/name-field";
@import "./blocks/review/contact-field";
@import "./blocks/review/impression-item";
@import "./blocks/review/visited-places-item";
@import "./blocks/review/review-area";

/* скрыла пока что так заголовки, которые не будут выводиться */

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}


