.advantage-item {
  background-color: @light-gray;
}

.item__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.color-item__text-first {
  padding-top: 33px + 37px;
}

.color-item__text {
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantage-item p {
  margin: 0;
  color: @dark;
}

.advantage-item--color {
  background-color: @blue;
  color: @white;
}

.item__image {
  display: block;
}

.advantages__item > ul {
  margin-top: 24px;
  margin-bottom: 52px;
}
