.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.main-footer__content {
  margin-top: 28px;
  margin-bottom: 22px;
}
